* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: white;
    --calc1: calc(100% / 12 * 1);
    --calc2: calc(100% / 12 * 2);
    --calc3: calc(100% / 12 * 3);
    --calc4: calc(100% / 12 * 4);
    --calc5: calc(100% / 12 * 5);
    --calc6: calc(100% / 12 * 6);
    --calc7: calc(100% / 12 * 7);
    --calc8: calc(100% / 12 * 8);
    --calc9: calc(100% / 12 * 9);
    --calc10: calc(100% / 12 * 10);
    --calc11: calc(100% / 12 * 11);
    --calc12: calc(100% / 12 * 12);
}

.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header nav {
    margin-bottom: 15px;
    margin-top: 25px;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
}

header nav .img_logo h1 {
    font-size: 30px;
}

header nav ul {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    color: #000000;
    font-size: 20px;
}

header nav ul li a:hover {
    text-decoration: underline darkblue;
}

/*----------------------------------------------------------------  headerning navbar qismi tugadi ---------------------------------------------------------------*/
/*---------------------------------------------------------------- heaaderning main qismi boshlandi ---------------------------------------------------------------*/
header .header_main {
    margin-top: 155px;
}

.jc_sb {
    justify-content: space-between;
    align-items: center;
}

header .header_main .header_left h1 {
    line-height: 50px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 12px;
}

header .header_main .header_left p {
    font-size: 20px;
    color: #000000;
    line-height: 30px;
}

header .header_main .header_right img {
    max-height: 300px;
    max-width: 300px;
}

header .header_main .header_right .header_main_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------------------------------------------------------------------- headerning main qismi ham tugadi ------------------------------------------------------------*/
/* ---------------------------------------------------------------------------  main qismi boshlandi ------------------------------------------------------------------*/
main .aside .aside_left .flexcha {
    display: flex;
    justify-content: space-between;
}

main .aside {
    max-width: 100%;
    padding: 45px;
    margin-top: 70px;
    background-color: #EDF7FA;
}

main .aside .aside_left {
    width: 525px;
    min-height: 295px;
    padding: 25px;
    border: solid white;
    background-color: white;
    border-radius: 8px;
}

main .aside .aside_left .aside_p {
    margin-top: 20px;
    font-size: 19px;
    line-height: 25px;
}

/*------------------------------------------------------------------------- mainning aside qismi tugadi* ---------------------------------------------------------------*/
/*------------------------------------------------------------------------- mainning .main qismi boshlandi* ------------------------------------------------------------*/
.aic {
    align-items: center;
}

main .main {
    margin-top: 45px;
}

main .main .two img {
    margin-right: 45px;
}

main .main .two_one h2 {
    margin-top: 15px;
    line-height: 34px;
    margin-bottom: 15px;
    font-size: 25px;
}

main .main .two_one p {
    margin-top: 15px;
    font-size: 15px;
}


main .mian .two img {
    width: 80px;
    border: 2px solid red;
}

/*---------------------------------------------------------------------- mainning .main qismi tugadi ----------------------------------------------------------------------*/


footer {
    margin-top: 45px;
    margin: auto;
}

footer .footer  {
    margin: auto;
}

@media (max-width: 1180px) {
    header {
        margin: 0px 45px 0px 45px;
    }
}

@media (max-width: 1150px) {
    main .aside .jc_sb {
        width: var(--calc12);
        justify-content: center;
    }

    main .aside .aside_top {
        margin-top: 40px;
    }

    main .main .asosiy {
        padding-left: 25px;
        margin: auto;
        width: var(--calc12);
        justify-content: center;
    }
}

@media (max-width: 500px) {
    header nav {
        flex-direction: column;
        justify-content: center;
    }

    header nav ul {
        margin-top: 15px;
    }
}

@media (max-width: 965px) {
    header .header_main .column {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    header .header_main .header_right img {
        margin-bottom: 30px;
    }
}

@media (max-width: 435px) {
    main .main .two .img_bir_xil {
        width: 300px;
    }
}

@media (max-width: 325px) {
    header .header_main .header_right img {
        height: 243px;
        justify-content: center;
    }

    main .main .two .img_bir_xil {
        padding-left: 25px;
    }
}